<h1>User</h1>

<%= render @user %>

<% @events.each do |event| %>
	<ul>
		<li><%= render event %><%= link_to "details", event_path(event) %></li>
	</ul>
<% end %>

<h4>Attending in future: </h4>
<% @upcoming_events.each do |a| %>
	<ul>
		<li><%= render a %></li>
	</ul>
<% end %>

<h4>Already attended: </h4>
<% @previously_attended.each do |a| %>
	<ul>
		<li><%= render a %></li>
	</ul>
<% end %>

